<mat-toolbar>
    <div class="toolbar-title"> Cadastro de Faixa</div>
</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome') 
                                   && formGroup.get('nome')?.invalid
                                   && formGroup.get('nome')?.touched">
                        <!-- erros do front-end -->
                        {{getErrorMessage('nome', formGroup.get('nome')?.errors)}}

                        <!-- erros do back-end -->
                        @if(formGroup.get('nome')?.hasError('apiError')) {
                           <span>{{formGroup.get('nome')?.getError('apiError')}}</span> 
                        }

                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Descrição</mat-label>
                    <input matInput type="text" formControlName="descricao">
                    <mat-error *ngIf="formGroup.get('descricao') 
                                   && formGroup.get('descricao')?.invalid
                                   && formGroup.get('descricao')?.touched">
                        {{getErrorMessage('descricao', formGroup.get('descricao')?.errors)}}

                        <!-- erros do back-end -->
                        @if(formGroup.get('descricao')?.hasError('apiError')) {
                            <span>{{formGroup.get('descricao')?.getError('apiError')}}</span> 
                        }
                    </mat-error>
                </mat-form-field>
                
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="../">
                Cancelar
            </button>

            <button mat-raised-button *ngIf="formGroup?.get('id')?.value" color="warn" (click)="excluir()"
                [disabled]="formGroup.invalid">
                Excluir
            </button>

            <button mat-raised-button color="primary" (click)="salvar()" >
                Salvar
            </button>

        </mat-card-actions>
    </mat-card>
</div>